.Rhistory
*.csv
*.bak
data/readme*.txt
data/lahman-csv*.zip
data/*.Rd
data/.RData
data/.Rhistory
.RData
.Rproj.user
Lahman.Rproj
data/baseballdatabank*
README.html
inst/doc
.DS_Store
CRAN-RELEASE
revdep/library/
CRAN-SUBMISSION
