.Rhistory
*.csv
*.bak
data/readme*.txt
data/lahman-csv*.zip
data/*.Rd
data/.RData
data/.Rhistory
.RData
.Rproj.user
Lahman.Rproj
source-data/baseballdatabank-master
source-data/baseballdatabank
data/baseballdatabank*
README.html
inst/doc
.DS_Store
CRAN-RELEASE
source-data/
revdep/library/
CRAN-SUBMISSION
